
.main-div{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

p{
    
    color: black;
}
.upper-div{
    
    background-color: rgb(214, 211, 211);
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: center;
    
}
.upper-div img{
    height: 100%;
    width: 90%;
    align-items: center;
    opacity: 0.7;
    
}
.img-text{
    
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 38px;
    font-family: Roboto;
    font-weight: 600;
    color: #ffffff;
    
}
.img-text-2{
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-family: Roboto;
    font-weight: 300;
    color: #ffffff;
}
.animated-div{
    position: absolute;
    top: 62%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    font-family: Roboto;
    font-weight: 200;
    color: #ffffff;
}

.list li{
    position: absolute;
    width: 100%;
        max-width: 600px;
        display: flex;
        justify-content: center;
        opacity: 0;
        margin-left: auto;
        margin-right: auto;
}

.list-1 {
    animation: slideIn 4s forwards cubic-bezier(0.1, 0.67, 0.29, 0.98) infinite;
}
.list-2 {
    /* Start with 4 seconds delay */
    animation: slideIn 4s 4s forwards cubic-bezier(0.1, 0.67, 0.29, 0.98) infinite;
}
  
@keyframes slideIn {
    0% {
        transform: translate3d(50%, 0, 0);
        opacity: 0;
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.features{
    display: grid;
    
    
}
.features-heading{
    
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    font-family: Roboto;
    font-weight: 300;
    
height: 100px;
margin-top: 100px;
}
.features-text{
    
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    height: 50px;
}

.cloud-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 330px;
    background-color: pink;
}

@media only screen and (max-width: 1000px) {
  .cloud-div{
    display: grid;
    grid-template-columns: 1fr;
    height: 330px;
    background-color: rgb(252, 6, 47);
  }
}


.cloud-img{
    /* background-color: aqua; */
    display: flex;
    position: relative;
    height: 380px;
    margin-bottom: 50px;
    
}


.cloud-img-img{
    height: 100%;
    width: 60%;
    
    margin-left: 200px;
    
}
.cloud-div{
    margin-top: 50px;
}
.cloud-list li:before {
    content: '✓';
  }
  
  ul{
    list-style: none;
   
  }
  .cloud-head{
    font-size: 25px;
  }
  .cloud-i{
    font-size: 22px;
  }
  .cloud-list li{
    margin-top: 10px;
    
  }
  

  /**/
  
.agile-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 320px;
    margin-top: 150px;
    
}
.agile-img{
    
    display: flex;
    position: relative;
    height: 400px;
    
}
.agile-img-img{
    height: 100%;
    width: 60%;
    
    margin-right: 150px;margin-left: 50px;
    
}
.agile-div{
    margin-top: 150px;
    
height: 400px;
}
.agile-list li:before {
    content: '✓';
  }
  ul{
    list-style: none;
   
  }
  .agile-head{
    font-size: 25px;
  }
  .agile-i{
    font-size: 22px;
  }
  .agile-list li{
    margin-top: 10px;
    
  }
  
  .agile-detail{
    margin-left: 100px;
  }

  /**/
  .security-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    
    
}
.security-img{
    
    display: flex;
    position: relative;
    height: 380px;
    margin-bottom: 50px;
    
}


.security-img-img{
    height: 100%;
    width: 60%;
    
    margin-left: 200px;
    
}
.security-div{
    margin-top: 50px;
}
.security-list li:before {
    content: '✓';
  }
  
  ul{
    list-style: none;
   
  }
  .security-head{
    font-size: 25px;
  }
  .security-i{
    font-size: 22px;
  }
  .security-list li{
    margin-top: 10px;
    
  }
  
  /**/
  
.customer-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 320px;
    margin-top: 150px;
    
}
.customer-img{
    
    display: flex;
    position: relative;
    height: 400px;
    
}
.customer-img-img{
    height: 100%;
    width: 60%;
    
    margin-right: 150px;margin-left: 50px;
    
}
.customer-div{
    margin-top: 50px;
    
height: 400px;
}
.customer-list li:before {
    content: '✓';
  }
  ul{
    list-style: none;
   
  }
  .customer-head{
    font-size: 25px;
  }
  .customer-i{
    font-size: 22px;
  }
  .customer-list li{
    margin-top: 10px;
    
  }
  
  .customer-detail{
    margin-left: 100px;
  }
