<div class="main-div">
    <div class="upper-div">
       <img src="/assets/images/upper-img.jpg"/>
       <div class="img-text">Take Your Business To The Next Level.</div>
       <div class="img-text-2">We Are The Expers In</div>
       <div class="animated-div">
        <ul class="animated-list">
            <li class="list-1">Android App Design and Development</li>
            <li class="list-2">E-Commere Solutions</li>
        </ul>
       </div>
    </div>
    <div class="features">
         <div class="features-heading">FEATURES</div>
         <div class="features-text">We provide cost effective, highly available, performance optimized, scalable solutions while working with an ideology of digital transformation.</div>
    </div>
    <div class="cloud-div">
        <div class="cloud-img">
           <img src="/assets/images/cloud.jpg" class="cloud-img-img"/>
        </div>
        <div class="cloud-detail">
           <div class="cloud-head"> Cloud Computing Solutions</div><br>
            <i class="cloud-i">The world is moving on Cloud and we are here to help you to get there.</i><br>
            <ul class="cloud-list">
                <li><b>Cost-Effective</b> - Lower your infra, hosting and development cost</li>
                <li><b>Secure and Reliable</b> - Make your systems scalable, reliable, and secure.</li>
                <li><b>Go global in minutes</b> - Provide lower latency and a better experience for your customers at minimal cost.</li>
                <li><b>Increase speed and agility</b> – Increase in agility for the organization, since the cost and time it takes to experiment and develop is significantly lower.</li>
                <li><b>No Capacity Limits</b> – You can go as long as you want in terms of capacity.</li>
            </ul>
        </div>
       
    </div>
    <div class="agile-div">
       
        <div class="agile-detail">
           <div class="agile-head"> Agile Methodology</div><br>
            <i class="agile-i">Agile is a time-bound, iterative approach to software delivery</i><br>
            <ul class="agile-list">
                <li>Agile helps building software incrementally from the start of the project, instead of trying to deliver all at once.</li>
                <li>Highest priority is to satisfy the customer through early and continuous delivery of valuable software.</li>
                <li>Deliver working software frequently, from a couple of weeks to a couple of months, with a preference to the shortest timescale.</li>
                <li>Iteration occurs across activities. Therefore, the requirements and the design are developed together, rather than separately.</li>
                <li>The allocation of requirements, design planning and development are executed in a series of increments. It gives Agile development an extra level of flexibility.</li>
            </ul>
        </div>
        <div class="agile-img">
            <img src="/assets/images/agile4.jpg" class="agile-img-img"/>
         </div>
    </div>
    <div class="security-div">
        <div class="security-img">
           <img src="/assets/images/security111.jpg" class="security-img-img"/>
        </div>
        <div class="security-detail">
           <div class="security-head">Privacy and Data Security</div><br>
            <i class="security-i">Data security and privacy protection are the two main factors of user's concerns about the technology.</i><br>
            <ul class="security-list">
                <li><b>Data encryption</b> – Data-centric and tokenization security solutions that protect data across enterprise, cloud, mobile and big data environments.</li>
                <li><b>Mobile App Security</b>- Protecting sensitive data in native mobile apps while safeguarding the data end-to-end.</li>
                <li><b>Web Browser Security</b> - Protects sensitive data captured at the browser, from the point the customer enters cardholder or personal data, and keeps it protected through the ecosystem to the trusted host destination.</li>
                <li><b>Enterprise Data Protection</b> – Solution that provides an end-to-end data-centric approach to enterprise data protection.</li>
                
            </ul>
        </div>
       
    </div>
    <div class="customer-div">
       
        <div class="customer-detail">
           <div class="customer-head">24/7 Customer Support
        </div><br>
            <i class="customer-i">We love to help our customers.</i><br>
            <ul class="customer-list">
                <li>Our customer support team is available 24/7</li>
                <li>We are always ready to help you to resolve any of your query.</li>
                <li>Call our Customer Service executive or submit your request online, our tech support staff will get in touch with you.</li>
                <li>Mail us at mailsparthoughts.com anytime</li>
                
            </ul>
        </div>
        <div class="customer-img">
            <img src="/assets/images/cus2.jpg" class="customer-img-img"/>
         </div>
    </div>
    </div>


