<div class="main-div">
    <div class="services-heading">
        Services
    </div>
    <div class="card-container">
        <div class="card-1">
            <div class="card-1-img">
                <img src="/assets/images/icon/bx-desktop.svg" />
                <hr>
            </div>
            <div class="card-1-data">
                <div class="card-1-data-head"> <b>SOFTWARE DEVELOPMENT</b><br></div>
                <p>We are expert in implementing software solutions
                    which transforms business requirements in suitable
                    form which helps you to manage your business.</p>
            </div>
        </div>
        <div class="card-2">
            <div class="card-2-img">
                <img src="assets/images/icon/bx-mobile.svg" />
                <hr>
            </div>
            <div class="card-2-data">
                <div class="card-2-data-head"> <b>MOBILE APP DEVELOPMENT</b><br></div>
                <p>We develop all kind of mobile applications which runs on various Opearting Systems like android, iOS
                    etc.</p>
            </div>
        </div>
        <div class="card-3">
            <div class="card-3-img">
                <img src="assets/images/icon/bx-devices.svg" />
                <hr>
            </div>
            <div class="card-3-data">
                <div class="card-3-data-head"> <b>WEBSITE DESIGN</b><br></div>
                <p>We put a lot of efforts in design, as it’s the most important ingredient of successful website. We
                    design and develop rich,beautiful & responsive websites with latest technology.</p>
            </div>
        </div>
        <div class="card-4">
            <div class="card-4-img">
                <img src="/assets/images/icon/bxs-virus.svg" />
                <hr>
            </div>
            <div class="card-4-data">
                <div class="card-4-data-head"> <b>TESTING & QA</b><br></div>
                <p>Our specialised testing team provide services that are well suited for TaaS model include automated
                    testing like security,regression, performance and testing of cloud based web as well as mobile
                    applications.</p>
            </div>
        </div>

    </div>
    <div class="card-container">
        <div class="card-4">
            <div class="card-4-img">
                <img src="/assets/images/icon/bxs-message-rounded-check.svg" />
                <hr>
            </div>
            <div class="card-4-data">
                <div class="card-4-data-head"> <b>BULK SMS & VOICE MESSAGE SERVICE</b><br></div>
                <p>Make your products available online with an E-commerce application. Our E-commerce application helps
                    you to deliver your products to your customers worldwide.</p>
            </div>
        </div>
        <div class="card-4">
            <div class="card-4-img">
                <img src="/assets/images/icon/bxs-speaker.svg" />
                <hr>
            </div>
            <div class="card-4-data">
                <div class="card-4-data-head"> <b>SOCIAL MEDIA MARKETING</b><br></div>
                <p>Understanding your brand & we make contents that connect your customers with social media. We will
                    set you up for success and show you real result.</p>
            </div>
        </div>
        <div class="card-4">
            <div class="card-4-img">
                <img src="/assets/images/icon/bxl-sketch.svg" />
                <hr>
            </div>
            <div class="card-4-data">
                <div class="card-4-data-head"> <b>LOGO & GRAPHICS DESIGNING</b><br></div>
                <p>We design unique and beautiful logos. We make designs that attract your cliets.Our professional
                    graphic designers possess a creative mind with an artistic inclination.</p>
            </div>
        </div>
        <div class="card-4">
            <div class="card-4-img">
                <img src="/assets/images/icon/bx-search-alt.svg" />
                <hr>
            </div>
            <div class="card-4-data">
                <div class="card-4-data-head"> <b>SEO & DIGITAL MARKETING</b><br></div>
                <p>Optimizing a website involve editing and adding its content and modify its associated coding to both
                    increase its relevance to specific keywords and remove barriers to the indexing activities of search
                    engines.</p>
            </div>
        </div>

    </div>
    <div class="service-work">
        <div class="service-work-section">
            <div class="service-work-img">
                <img src="/assets/images/serv1.jpg">
            </div>
            <div class="service-work-data">
                <div class="service-work-data-1">
                    <b>Flexible Services</b><br>
                    <p>Flexible services are being provided to variety<br>
                        of customers from variety of domains.</p>
                </div>
                <div class="service-work-data-2">
                    <b>Latest Technology</b><br>
                    <p>Most of the development takes
                        place on latest<br> technology, cloud services are demanding and we know them.</p>
                </div>
            </div>
        </div>
    </div>
</div>