.main-div{
    margin-top: 90px;
    
}

.services-heading{
   display: flex;
   background-color:  #f3f8fa;
   height: 60px;
   font-size: 28px;
   padding-left: 70px;
   
}
.card-container{
    margin-top: 50px;
    height: 390px;
    
    display: flex;
    justify-content: center;

}
.card-1,.card-2,.card-3,.card-4{
   background-color: white;
    width: 230px;
    margin-left: 80px;
    vertical-align: center;
    margin-left: 50px;
    box-shadow: rgb(140, 140, 140) 2px 2px 7px 2px;


}
.card-1:hover{
    background-color: white;
    width: 230px;
    margin-left: 80px;
    vertical-align: center;
    margin-left: 50px;
    box-shadow: rgb(253, 6, 6) 2px 2px 7px 2px;
}
.card-1-img img,.card-2-img img,.card-3-img img,.card-4-img img{
    margin-left: 100px;
    height: 30px;
    margin-top: 10px;
    
}
.card-1-data-head,.card-2-head,.card-3-head,.card-4-head{
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
}
.card-1-data,.card-2-data,.card-3-data,.card-4-data{
    text-align: center;
    margin-top: 30px;
    font-size: 17px;
    line-height: 1.5;
    
}
.service-work{
    background-color: #f3f8fa;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    
}
.service-work-section{
    background-color: white;
    height: 400px;
    width: 80%;
    display: flex;
    flex-direction: row;
    position: relative;
    
    justify-content: left;

}
.service-work-img img{
    height: 100%;
    width: 80%;
    margin-left: 80px;
}
.service-work-data{
    display: grid;
    margin-left: 80px;
}
.service-work-data-1{
    margin-top: 70px;
    font-weight: 500;
    font-size: 18px;
}
.service-work-data-2{
font-size: 18px;
}