<div class="main-div">
    <div class="contact-heading">
        Contact
   </div>
   <div class="contact-1">
       <div class="contact-1-img">
         <img src="/assets/images/icon/bx-current-location.svg"/>
       </div>
       <div class="contact-1-data">
          <b>Ontario, Canada</b><br>
          <p>1-72 Commuter Drive,<br>
            Brampton, Ontario, Canada<br>
            L7A 0P8</p>
       </div>
   </div>
   <div class="contact-part-2">
         <div class="contact-2">
               <div class="contact-2-img">
                    <img src="/assets/images/icon/bx-envelope.svg"/>
               </div>
               <div class="contact-2-data">
                <b>Email Us</b><br>
                <p>mailsparthoughts.com</p>
               </div>
         </div>
         <div class="contact-3">
            <div class="contact-3-img">
                <img src="/assets/images/icon/bx-phone-call.svg"/>
           </div>
           <div class="contact-3-data">
            <b>Call Us</b><br>
            <p>+1 437-230-9014</p>
           </div>
         </div>
   </div>
   <div class="contact-part-3">
    <div class="contact-4">
        <div class="contact-4-img">
            <img src="/assets/images/icon/bx-envelope.svg"/>
       </div>
       <div class="contact-4-data">
        <b>Pune</b><br>
        <p>D-1005, Green Olive, Phase 1, behind Persistent,<br>
            Hinjewadi, Pune- 411057,<br>
            India.</p>
       </div>
    </div>
    <div class="contact-5">
        <div class="contact-5-img">
            <img src="/assets/images/icon/bx-envelope.svg"/>
       </div>
       <div class="contact-5-data">
        <b>Ichalkaranji</b><br>
        <p>6/733, Khanjire Mala, Near Shraddha classes,<br>
            Ichalkaranji- 416115,<br>
            India.</p>
       </div>
    </div>
</div>
<div class="contact-part-4">
    <div class="contact-6">
        <div class="contact-6-img">
            <img src="/assets/images/icon/bx-envelope.svg"/>
       </div>
       <div class="contact-6-data">
        <b>Call Us</b><br>
        <p>+1 437-230-9014</p>
       </div>
    </div>
    <div class="contact-7">
        <div class="contact-2-img">
            <img src="/assets/images/icon/bx-envelope.svg"/>
       </div>
       <div class="contact-2-data">
        <b>Email Us</b><br>
        <p>mailsparthoughts.com</p>
       </div>
    </div>
    <div class="contact-8">
        <div class="contact-8-img">
            <img src="/assets/images/icon/bx-envelope.svg"/>
       </div>
       <div class="contact-8-data">
        <b>Email Us</b><br>
        <p>mailsparthoughts.com</p>
       </div>
 </div>
 <div class="contact-9">
    <div class="contact-9-img">
        <img src="/assets/images/icon/bx-phone-call.svg"/>
   </div>
   <div class="contact-9-data">
    <b>Call Us</b><br>
    <p>+1 437-230-9014</p>
   </div>
 </div>
</div>

