<div>
    <footer>
        <div class="footer-main">
            <div class="footer-1">
                <div class="links-div">
                    <h4 style="color: rgb(162, 204, 227);">Useful Links</h4>
                    <ul>
                        <li><a routerLink="home">Home</a> </li>
                        <li><a routerLink="service">Service</a> </li>
                        <li><a routerLink="contact">Contact</a> </li>
                    </ul>
                </div>
            </div>
            <div class="footer-2">
                <div class="media-div">
                    <h4 style="color: rgb(162, 204, 227);">Social Media Links</h4>
                    <h4>Linkedin</h4>
                </div>
            </div>
            <div class="footer-3">
                <div class="contacts-div">
                    <h4 style="color: rgb(162, 204, 227);">Contact Us</h4>
                    <p>1-72 Commuter Drive,<br>
                        Brampton, Ontario, Canada<br>
                        L7A 0P8</p>
                    <h4><b>Phone: </b>+1 437-230-9014</h4>
                    <h4><b>Email:</b>mail&#64;sparthoughts.com</h4>
                </div>
            </div>
            <div class="footer-4">
                <div class="about-div">
                    <h4 style="color: rgb(162, 204, 227);">About SPARThoughts</h4>
                    <p>
                        SPARThoughts is a technology firm <br>with an ideology of digital transformation <br>of
                        Business. We provide ultimate digital<br> solution for business transformation.<br>
                        Experience technology and make a step <br>towards new future with SPARThoughts.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>